a:link {text-decoration: none; color: white;}
a:visited {text-decoration: none; color: white;}
a:hover {color: #FFFF66;}

p {text-align: center}

div {
    line-height: 1.5em;
    border-radius: 5px;
    background-color: #CF9;
    background: -webkit-radial-gradient(#000000, #293f50);
    background: -o-radial-gradient(#000000, #293f50);
    background: -moz-radial-gradient(#000000, #293f50);
    background: radial-gradient(#000000, #293f50);
    font-family: Baskerville,serif
    }

#name {
    float: left;
    margin-left: 20px;
    font-size: 50px;
    font-weight: 300;
    letter-spacing: 7px;
    color: white;
    line-height: 0px;
        }

#personal{
        float: right;
        text-align: right;
        line-height: 1.2em;
        font-size: 0.9em;
        color: white;
        margin-right: 20px
        }

#header {
        position: fixed;
        z-index: 1;
        width: 1050px;
        height: 100px;
        background: black
        }
        
.left {
        float: left;
        margin-top: 140px;
        display: block;
        height: 220px;
        width: 500px;
        color: white
        }

.right {
        float: left;
        margin-left: 50px;
        margin-top: 140px;
        margin-bottom: 50px;
        display: block;
        height: 220px;
        width: 500px;
        color: white
        }
        
#resource {
        height: 250px;
        width: 1050px;
        clear: both;
        display: inline-block;
        color: white
        }
        
#footer {
        clear: both;
        height: 30px;
        width: 1050px;
        background: black;
        color: white
        }
        
#resource img {
        position: relative; 
        left: 820px; 
        bottom: 80px}
        

h3 {
    text-indent: 15px;
    }